<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.aekym.micbar</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/l/projects/micbar/venv/bin/python3</string>
		<string>/Users/l/projects/micbar/micbar.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>KeepAlive</key>
	<false/>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/opt/homebrew/bin:/Users/l/bin:/usr/bin:/bin</string>
	</dict>
</dict>
</plist>
